.navbar
  background-color: transparent
  
  &, a
    color: $white-ter
    text-shadow: 1px 1px 2px $black-ter
  
  .navbar-brand
    .navbar-item span
      font-family: $family-monospace
      font-weight: bold
      transform: rotate(-7deg)
      text-decoration: underline
  
  .navbar-menu
    font-family: 'Baloo Bhai', $family-sans-serif
