.trello-list
  background-color: #dfe1e6
  border-radius: $radius
  display: flex
  flex-direction: column
  padding: 0.5em 0.5em 1.5em
  
  .list-title
    color: $grey-darker
    color: #162A4D
    font-weight: bold
    margin: 0 0.5em 0.75em
    font-size: $size-5
  
  .project-card:not(:last-child)
    margin-bottom: 0.5em
