$family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif

$family-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace

$spacing: 3em
$gutter: 0.5em
$pad: 0.3em

body
  margin: 0
  font-family: $family-sans-serif

.skeleton-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column
  .skeleton-content
    flex: 1
    margin: $gutter

.skeleton-header
  padding: $gutter
  background: #353A43
  border-bottom: 2px solid black
  font-size: 0.9em
  a
    color: white
    text-decoration: underline
    font-weight: bold
    &:not(:first-child)
      margin-left: $gutter * 1

.skeleton-title
  margin: 0 0 $pad
  user-select: all

.skeleton-label
  font-family: $family-monospace
  display: block
  user-select: all

.skeleton-block
  border: 1px solid black
  border-radius: 6px
  margin-bottom: $gutter
  padding: $pad

.variable-group
  margin-top: $spacing

.color-list
  display: flex
  flex-wrap: wrap
  margin: 0 (-$gutter)
  .skeleton-block:not(first-child)
    margin-left: $gutter
  .color-box
    width: 160px
    height: 40px
    border-radius: 4px

.typography-list
  .typography-box
    margin: $pad 0 0
    // margin: 0 0 0 1em
    // flex: 1 0
