$family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif

$family-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace

$spacing: 3rem
$gutter: 0.5rem
$pad: 0.3rem

$border-color: #ccc
$heavy-text-color: #555
$light-text-color: #888

=skeletonify
  font-family: $family-sans-serif
  color: $light-text-color

body
  margin: 0

.skeleton-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 10px, #fafafa 10px, #fafafa 20px)
  .skeleton-content
    flex: 1
    margin: $gutter

.skeleton-header
  +skeletonify
  padding: $gutter
  background: #353A43
  border-bottom: 2px solid black
  font-size: 0.9em
  a
    color: white
    text-decoration: underline
    font-weight: bold
    &:not(:first-child)
      margin-left: $gutter * 1

.skeleton-title
  +skeletonify
  font-size: 24px
  color: $light-text-color
  margin: 0 0 $gutter
  user-select: all
  border-bottom: 1px solid $border-color

.skeleton-heading
  +skeletonify
  font-size: 17px
  margin: (2* $gutter) 0 0
  font-style: italic

.skeleton-variable
  margin: 0
  color: $heavy-text-color
  font-weight: 400
  font-family: $family-monospace
  font-size: 0.8em
  margin-bottom: 0.2em
  user-select: all

.skeleton-block
  border: 1px dashed $border-color
  border-radius: 6px
  margin-bottom: $gutter
  padding: $pad
  background-color: white

.skeleton-group
  margin-top: $spacing

.skeleton-example
  background-color: white
  box-shadow: 0 0 $gutter rgba(0, 0, 0, 0.05)
  margin: 0 0 $gutter
  padding: 1px
  box-sizing: border-box

.color-list
  display: flex
  flex-wrap: wrap
  margin: $gutter (-$gutter) 0
  .skeleton-block:not(first-child)
    margin-left: $gutter
  .color-box
    width: 160px
    height: 40px
    border-radius: 4px

.font-list
  .font-box
    margin: $pad 0 0
    font-size: 1.2em
