<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="skeleton.css">
  {{#each data.stylesheets}}
  <link rel="stylesheet" href="{{{this}}}">
  {{/each}}
  <title>r0b design</title>
</head>
<body class="skeleton-wrapper">
  <header class="skeleton-header">
    {{#each sitenav}}<a href="{{this}}">{{this}}</a>{{/each}}
  </header>
  <main class="skeleton-content">
    {{{content}}}
  </main>
</body>
</html>
