<div class="skeleton-group">
  <h2>colors</h2>
  
  <h3>utility</h3>
  <div class="color-list">
    {{> color-block name="primary" }}
    {{> color-block name="success" }}
    {{> color-block name="info" }}
    {{> color-block name="warning" }}
    {{> color-block name="danger" }}
  </div>
  
  <h3>whites</h3>
  <div class="color-list">
    {{> color-block name="white" }}
    {{> color-block name="white-bis" }}
    {{> color-block name="white-ter" }}
  </div>
  
  <h3>greys</h3>
  <div class="color-list">
    {{> color-block name="grey-lighter" }}
    {{> color-block name="grey-light" }}
    {{> color-block name="grey" }}
    {{> color-block name="grey-dark" }}
    {{> color-block name="grey-darker" }}
  </div>
  
  <h3>blacks</h3>
  <div class="color-list">
    {{> color-block name="black-ter" }}
    {{> color-block name="black-bis" }}
    {{> color-block name="black" }}
  </div>
</div>

<div class="skeleton-group">
  <h2>typography</h2>
  <div class="font-list">
    {{> font-block name="sans-serif" message=@data.text.paragraph }}
    {{> font-block name="monospace" message=@data.text.paragraph }}
  </div>
</div>
