{{#each variables}}
<div class="skeleton-group">
  <h2 class="skeleton-title">{{@key}}</h2>
  {{#if colors }}
  {{> color-list colors=colors}}
  {{/if}}

  {{#if fonts }}
  {{> font-list fonts=fonts message=@data.longTitle}}
  {{/if}}
</div>
{{/each}}
