<div class="skeleton-group">
  <h2>titles</h2>
  <div class="skeleton-example with-light-box">
    <h1 class="title is-1"> Heading level 1 </h1>
    <h2 class="title is-2"> Heading level 2 </h2>
    <h3 class="title is-3"> Heading level 3 </h3>
    <h4 class="title is-4"> Heading level 4 </h4>
    <h5 class="title is-5"> Heading level 5 </h5>
    <h6 class="title is-6"> Heading level 6 </h6>
  </div>
</div>

<div class="skeleton-group">
  <h2>inline elements</h3>
  <div class="skeleton-example with-light-box">
    <p>This text has <a href="#">an anchor</a> in it</p>
    <p>This text has <strong>strong content</strong> in it</p>
    <p>This text has <em>some emphisis</em> in it</p>
    <p>This text has <code>some code</code> in it</p>
  </div>
</div>

<div class="skeleton-group">
  <h2>block elements</h3>
  <h3>Paragraph</h3>
  <div class="skeleton-example with-light-box">
    <p>{{@data.text.paragraph}}</p>
  </div>
  
  <h3>Preformatted</h3>
  <div class="skeleton-example">
    <pre>{{@data.text.code}}</pre>
  </div>
</div>

<div class="skeleton-group">
  <h2>buttons</h2>
  <h3>Sizes</h3>
  <div class="skeleton-example">
    <button class="button is-small"> Small button </button>
  </div>
  <div class="skeleton-example">
    <button class="button"> Regular button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-medium"> Medium button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-large"> Large button </button>
  </div>
  
  <h3>Colors</h3>
  <div class="skeleton-example">
    <button class="button is-primary"> Primary button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-success"> Success button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-warning"> Warning button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-danger"> Danger button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-info"> Info button </button>
  </div>
</div>

<div class="skeleton-group">
  <h2>Container</h2>
  <div class="skeleton-example">
    <div class="container">
      <div class="skeleton-white-box"></div>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>custom</h2>
  
  <h3>view more - on light</h3>
  <div class="skeleton-example">
    <a href="#" class="view-more">view more</a>
  </div>
  <h3>view more - on dark</h3>
  <div class="skeleton-example with-dark-box">
    <a href="#" class="view-more is-light">view more</a>
  </div>
</div>

<div class="skeleton-group">
  <h2>page blocks</h2>
  
  <h3>bottom</h3>
  <div class="skeleton-example with-no-padding">
    <div class="page-block has-slope-after">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
  
  <h3>top</h3>
  <div class="skeleton-example with-no-padding">
    <div class="page-block has-slope-before">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
  
  <h3>top and bottom</h3>
  <div class="skeleton-example with-no-padding">
    <div class="page-block has-slope-after has-slope-before">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
  
  <h3>magenta</h3>
  <div class="skeleton-example with-no-padding">
    <div class="page-block is-magenta has-slope-after has-slope-before">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
  </div>
  
  <h3>liberty</h3>
  <div class="skeleton-example with-no-padding">
    <div class="page-block is-liberty has-slope-after has-slope-before">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
  </div>
  
  <h3>deep-koamaru</h3>
  <div class="skeleton-example with-no-padding">
    <div class="page-block is-deep-koamaru has-slope-after has-slope-before">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
  
  <h3>paper</h3>
  <div class="skeleton-example">
    <div class="page-block is-paper">
      <div class="skeleton-clear-box"></div>
    </div>
  </div>
</div>
