<div class="skeleton-group">
  <h2 class="skeleton-title">Headings</h2>
  <h3 class="skeleton-heading">Normal</h3>
  <div class="skeleton-example">
    <h1> Heading level 1 </h1>
    <h2> Heading level 2 </h2>
    <h3> Heading level 3 </h3>
    <h4> Heading level 4 </h4>
    <h5> Heading level 5 </h5>
    <h6> Heading level 6 </h6>
  </div>
</div>

<div class="skeleton-group">
  <h2 class="skeleton-title">Buttons</h2>
  <h3 class="skeleton-heading">Sizes</h3>
  <div class="skeleton-example">
    <button class="button is-small"> Small Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button"> Regular Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-medium"> Medium Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-large"> Large Button </button>
  </div>
  
  <h3 class="skeleton-heading">Colors</h3>
  <div class="skeleton-example">
    <button class="button is-primary"> Primary Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-secondary"> Secondary Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-success"> Success Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-warning"> Warning Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-danger"> Danger Button </button>
  </div>
  <div class="skeleton-example">
    <button class="button is-info"> Info Button </button>
  </div>
  
</div>
