$page-block-size: 7vw

=setup-slope
  content: ''
  position: absolute
  left: 0
  right: 0
  z-index: 1

$page-block-colors: (("magenta", $magenta), ("liberty", $liberty), ("deep-koamaru", $deep-koamaru))

.page-block
  background-color: var(--block-color, #{$primary})
  position: relative
  
  @each $name, $color in $page-block-colors
    &.is-#{$name}
      color: $white
      --block-color: #{$color}
  
  &.is-paper
    +paper-background
  
  &.is-inbetween
    &:not(:first-child)
      margin-top: -$page-block-size
      padding-top: $page-block-size
    &:not(:last-child)
      margin-bottom: -$page-block-size 
      padding-bottom: $page-block-size
  
  &.has-slope-after
    margin-bottom: $page-block-size
    
    &::after
      +setup-slope
      bottom: -$page-block-size
      border-left: 100vw solid var(--block-color, #{$primary})
      border-bottom: $page-block-size solid transparent
  
  &.has-slope-before
    margin-top: $page-block-size
    &::before
      +setup-slope
      top: - $page-block-size
      border-left: 100vw solid var(--block-color, #{$primary})
      border-top: $page-block-size solid transparent
