<div class="skeleton-block">
  <h3 class="skeleton-variable">${{name}}</h3>
  <div class="color-swatch">
    <div class="has-bg-{{name}}-light"></div>
    <div class="has-bg-{{name}}"></div>
    <div class="has-bg-{{name}}-dark"></div>
  </div>
</div>
