<div class="color-group">
  <h3 class="color-group-name">{{@key}}</h3>
  <div class="color-list">
    {{#each colors}}
    {{#each this}}
    {{> color-box name=@key color=this}}
    {{/each}}
    {{/each}}
  </div>
</div>
